/* ref colors: https://lospec.com/palette-list/pear36 */

@font-face {
  font-family: 'press-start';
  src: url('assets/fonts/press-start/prstartk.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #3e2347;
  font-size: 10px;
  color: #ffe478;
  font-family: 'press-start';
}

body {
  margin: 0;
}

a {
  color: #ffe478;
  text-decoration: none;
}

a:hover {
  color: #ffb570;
}